---
import Layout from '@/layouts/Layout.astro';
import BadgeGroup from '@/components/BadgeGroup';
import { LANGS } from '@/lib/langs';
import type { Project } from '@/lib/types';
import { dictionaries } from "@/lib/i18n";

export function getStaticPaths() {
  return LANGS.flatMap((lang) => {
    const lan = dictionaries[lang];

    return lan.projects.data.map((project: Project) => ({
      params: {
        lang,
        name: project.slug,
      },
      props: {
        project,
        lang,
      },
    }));
  });
}

const { lang } = Astro.params;
const lan = lang ? dictionaries[lang] : dictionaries['es'];
const { project } = Astro.props;
---

<Layout lan={lan}>
  <section class="w-full flex flex-col gap-6">

    <h1 class="text-3xl font-bold pb-3 flex flex-wrap gap-3 items-centerjustify-between mb-6 border-b border-light-border dark:border-dark-border">
      {project.name}
      <BadgeGroup { ...project.stack }/>
    </h1>

    <article class="flex flex-col gap-3">
      <p>{project.description}<a class="text-brand hover:text-brand-hover active:text-brand-active" href={project.url} target="_blank"> {lan.projects.link} {project.name}</a></p>
      <p >{lan.projects.linkP1} <a class="text-brand hover:text-brand-hover active:text-brand-active" href={`/${lang}/projects`}>{ lan.projects.title }</a> {lan.projects.linkP2}</p>
      <div class="flex flex-row md:flex-col items-center gap-5 py-6 h-[50dvh] overflow-x-scroll hide-scrollbar">
        <img class="h-full object-fill" src={project.img} alt={project.name} />
        <img class="h-full object-fill" src={project.smImg} alt={project.name} />
      </div>
    </article>

  </section>
</Layout>