---
import Layout from '@/layouts/Layout.astro';
import BadgeGroup from '@/components/BadgeGroup';
import { LANGS } from '@/lib/langs';
import { projects } from '@/lib/data';
import { dictionaries } from "@/lib/i18n.ts";

export function getStaticPaths() {
  return LANGS.flatMap((lang) =>
    projects.map((project) => ({
      params: {
        lang,
        name: project.slug,
      },
      props: {
        project,
      },
    }))
  );
}

const { lang } = Astro.params;
const lan = lang ? dictionaries[lang] : dictionaries['es'];
const { project } = Astro.props;
---

<Layout lan={lan}>
  <section class="w-full flex flex-col gap-6">

    <h1 class="text-3xl font-bold pb-3 flex flex-wrap gap-3 items-centerjustify-between mb-6 border-b border-light-border dark:border-dark-border">
      {project.name}
      <BadgeGroup { ...project.stack }/>
    </h1>  

    <article class="flex flex-col gap-3">
      <p>{project.description}<a class="text-brand hover:text-brand-hover active:text-brand-active" href={project.url} target="_blank"> Click here to visit {project.name}</a></p>
      <p >Check out the <a class="text-brand hover:text-brand-hover active:text-brand-active" href={`/${lang}/projects`}>PROJECTS</a> page to see more projects.</p>
      <div class="flex gap-4 py-6">
        <img src={project.img} alt={project.name} />

      </div>
    </article>

  </section>
</Layout>