---
import Layout from '@/layouts/Layout.astro';
import BadgeGroup from '@/components/BadgeGroup';
import Icon from '@/components/Icon';
import { LANGS } from '@/lib/langs';
import type { Project } from '@/lib/types';
import { dictionaries } from "@/lib/i18n";

export function getStaticPaths() {
  return LANGS.flatMap((lang) => {
    const lan = dictionaries[lang];

    return lan.projects.data.map((project: Project) => ({
      params: {
        lang,
        name: project.slug,
      },
      props: {
        project,
        lang,
      },
    }));
  });
}

const { lang } = Astro.params;
const lan = lang ? dictionaries[lang] : dictionaries['es'];
const { project } = Astro.props;
---

<Layout lan={lan}>
  <section class="">

    <div class="flex flex-col items-center justify-between gap-3 mb-2">
      <div class="w-full flex justify-between items-center pb-3 border-b border-light-border dark:border-dark-border">
        <h1 class="text-3xl font-bold">
          {project.page?.hero.title || project.name}
          <a class="float-right" href={project.url} target="_blank"><Icon name="eye"/></a>
        </h1>
        <BadgeGroup { ...project.stack }/>
      </div>
      <p class="w-full text-sm text-light-text-secondary dark:text-dark-text-secondary italic">{project.page?.hero.tagline}</p>
    </div>

    <article class="flex flex-col gap-4">
      <p class="py-10">{project.page?.overview}</p>
      
      <div class="flex flex-col gap-2 pb-10">
        <h2 class="text-2xl font-semibold pb-2 border-b border-light-border dark:border-dark-border">Technical Focus</h2>
        {project.page?.technicalFocus?.map((feature) => (
          <div class="flex items-center gap-3">
            <div class="size-5 rounded-full bg-brand"></div>
            <p>{feature}</p>
          </div>
        ))}
      </div>
    </article>

    <div class="flex flex-col md:flex-row gap-6 items-center md:border-t md:border-b md:border-light-border md:dark:border-dark-border md:text-center md:py-10">
      <article class="flex flex-col gap-4 md:w-1/2">
       <h2 class="text-2xl font-semibold pb-2 border-b border-light-border dark:border-dark-border">Problem</h2>
        <p>{project.page?.problem}</p>
      </article>
  
      <article class="flex flex-col gap-4 md:w-1/2">
        <h2 class="text-2xl font-semibold pb-2 border-b border-light-border dark:border-dark-border">Solution</h2>
        <p>{project.page?.solution}</p>
      </article>
    </div>
    
    <article class="flex flex-col gap-4 py-10">
      <h2 class="text-2xl font-semibold pb-2 border-b border-light-border dark:border-dark-border">Vision</h2>
      <p>{project.page?.vision}</p>
    </article>

    <article class="flex flex-col gap-4">

      <div class="flex items-center justify-center gap-6 py-6 h-90 overflow-x-scroll hide-scrollbar rounded-lg border border-light-border dark:border-dark-border bg-light-card dark:bg-dark-card">
        <img class="h-full object-fill hover:shadow shadow-dark-bg hover:scale-105" src={project.img} alt={project.name} />
        <img class="h-full object-fill hover:shadow shadow-dark-bg hover:scale-105" src={project.smImg} alt={project.name} />
      </div>
    </article>

  </section>
</Layout>