---
import { ClientRouter } from "astro:transitions";

const { title, description } = Astro.props;

const url = Astro.url; 
const pathname = url.pathname; 
const origin = url.origin;

// canonical dinámico real
const canonical = origin + pathname;

// idioma actual
const lang = pathname.split("/")[1] || "es";

// path sin idioma
const basePath = pathname.replace(`/${lang}`, "");

// alternates
const esUrl = `${origin}/es${basePath}`;
const enUrl = `${origin}/en${basePath}`;
---

<head>

    <script>
      (function () {
        const theme = localStorage.getItem('theme') || 'dark';
        const dark = document.documentElement.classList.contains('dark');
        if (!theme && !dark || theme === 'dark') {
          document.documentElement.classList.add('dark');
        } else {
          document.documentElement.classList.remove('dark')
        }
      })();
    </script>

		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
    <meta name="description" content={description} />
    <meta property="og:title" content="Nahuel Lopez — Web & UX Designer" />
    <meta property="og:description" content="Diseño interfaces, experiencias y sistemas digitales con foco en usabilidad y performance." />
    <meta property="og:image" content="https://nahuel-lopez.vercel.app/og.png" />
    <meta property="og:type" content="image/png" />
    <meta property="og:image:width" content="1209">
    <meta property="og:image:height" content="655">
    <meta property="og:url" content="https://Nahuel-lopez.vercel.app" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="robots" content="index, follow">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
    
    <link rel="canonical" href={canonical} />
    
    <link rel="alternate" hreflang="es" href={esUrl} />
    <link rel="alternate" hreflang="en" href={enUrl} />
    <link rel="alternate" hreflang="x-default" href={esUrl} />
    
		<link rel="icon" type="image/svg+xml" href="/favi.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title ?? "Nahuel Lopez – Portfolio"}</title>

		<ClientRouter/>
</head>