---
import CardGroup from './CardGroup.astro'
import ContactForm from './ContactForm'
import type { Lang, Dictionaries } from '@/lib/i18n'

interface Props {
	lan: Dictionaries[Lang]
}

const { lan } = Astro.props as Props;
const form = lan["form"]
---

<section class="">
	<article class="pb-12">
		<div class="flex flex-col mb-4">
			<h3 class="text-xl font-bold text-start text-light-text-muted dark:text-dark-text-muted mb-2">{lan.hero.top}</h3>
			<h1 class="text-5xl font-display font-bold text-start mb-2">{lan.hero.title}</h1>
			<h2 class="text-3xl font-display font-bold text-start text-light-text-secondary dark:text-dark-text-secondary">{lan.hero.subtitle}</h2>
		</div>
		<p class="py-2 wrap-break text-secundary-text">{lan.hero.description}</p>
		<div class="py-2 mt-8 flex items-center">
			<a href="#Contact" class="block rounded-lg h-12 w-42.5 px-6 py-3 text-center text-dark-text-primary bg-linear-to-r from-brand to-brand-soft hover:from-brand-soft hover:to-brand hover:scale-105 active:scale-95 active:bg-brand-active transition duration-500">{lan.hero.button}</button>
		</div>
	</article>
</section>
<CardGroup hero {lan}/>
<ContactForm client:only lan={form}/>