---
import Layout from "@/layouts/Layout.astro"
import { getLangPaths } from '@/lib/langs.ts';
import { dictionaries } from "@/lib/i18n.ts";

export async function getStaticPaths() {
  return getLangPaths();
}

const { lang } = Astro.params;
const lan = lang ? dictionaries[lang] : dictionaries['es'];
---

<Layout lan={lan}>
  <section class="">
    <h1 class="text-3xl font-bold pb-3 border-b border-light-border dark:border-dark-border">{lan.about.title}</h1>
    <article class="flex flex-col items-center justify-center md:flex-row gap-6 ">
      <div class="max-h-100 w-full md:w-1/2 flex flex-col justify-between py-5 gap-4 pe-3 md:border-e border-light-border dark:shadow-dark-shadow dark:border-dark-border">
        <p class="text-regular max-h-75 overflow-hidden text-elipsis">{lan.about.text}</p>
        <p class="text-regular">
          {lan.about.p}
          <a href={`/cv-portfolio-${lang}.pdf`} download class="underline text-brand hover:text-brand-hover active:text-brand-active">
            {lan.about.link}
          </a>
        </p>
      </div>
      <div class="w-full md:w-1/2 overflow-hidden rounded-lg shadow-md shadow-light-shadow">
        <img src="/images/about-me.jpeg" alt="About me" class="w-full h-100 object-cover"/>
      </div>
    </article>
  </section>
</Layout>
