---
import Layout from '@/layouts/Layout.astro';
import { projects } from '@/lib/data.ts'
import BadgeGroup from '@/components/BadgeGroup';

export function getStaticPaths() {

  return projects.map(project => ({
    params: { name: project.name },
    props: { project }
  }));
}

const { project } = Astro.props;
---

<Layout>
  <section class="w-full flex flex-col gap-6">

    <h1 class="text-3xl font-bold pb-3 flex flex-wrap gap-3 items-centerjustify-between mb-6 border-b border-light-border dark:border-dark-border">
      {project.name + " project </>"}
      <BadgeGroup { ...project.stack }/>
    </h1>  

    <article class="flex flex-col gap-3">
      <p>{project.description}<a class="text-brand hover:text-brand-hover active:text-brand-active" href={project.url} target="_blank"> Click here to visit {project.name}</a></p>
      <p >Check out the <a class="text-brand hover:text-brand-hover active:text-brand-active" href="/projects">all projects</a> page to see more projects.</p>
      <div class="flex gap-4 py-6">
        <img src={project.img} alt={project.name} />

      </div>
    </article>

  </section>
</Layout>